{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
    <a href="{{ path('create_order', { 'table': 1}) }}">Замовити</a>
{% endblock %}
